<div class="test">
<section class="hero">
    <div class="hero-content">
      <h1>Üdvözöl a Chef Vlog!</h1>
      <p>Fedezd fel a legfinomabb recepteket és olvasd el gasztro-tippjeinket</p>
      <button mat-raised-button class="custom-recipe-btn" routerLink="/receptek">
        Fedezd fel a recepteket
      </button>
    </div>
  </section>
  <h2>Kiemelt receptek</h2>
  <section class="featured">
    <mat-card class="recipe-card" *ngFor="let recipe of featuredRecipes">
      <img mat-card-image [src]="recipe.imageUrl" [alt]="recipe.title">
      <mat-card-content>
        <h3>{{recipe.title}}</h3>
        <div class="meta">
          <span><mat-icon>schedule</mat-icon> <br> {{recipe.prepTime + recipe.cookTime}} perc</span>
          <span><mat-icon>restaurant</mat-icon><br> {{recipe.difficulty | difficulty}}</span>
          <span><button mat-raised-button class="custom-recipe-btn" [routerLink]="['/recept', recipe.id]">Nézd meg a receptet!</button></span>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
  <section>
    <h2>Legfrissebb cikkek</h2>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let post of latestPosts">
        <mat-expansion-panel-header>
          <mat-panel-title>{{post.title}}</mat-panel-title>
          <mat-panel-description>{{post.createdAt | date:'yyyy.MM.dd.'}}</mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{post.excerpt}}</p>
        <button mat-button [routerLink]="['/blog', post.id]" class="szoveg">Tovább olvasom</button>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
  
  <div *ngIf="latestPosts.length === 0">
    <p>Nincsenek elérhető cikkek</p>
  </div>
  <section class="ingredient-spotlight">
    <h2>Hónap hozzávalója: {{featuredIngredient.name}}</h2>
    <mat-chip-listbox>
      <mat-chip *ngFor="let recipe of ingredientRecipes" [routerLink]="['/recept', recipe.id]">
        {{recipe.title}}
      </mat-chip>
    </mat-chip-listbox>
  </section>
</div>